<!DOCTYPE html>
<html>
<head>
    <title>Index Page for all houses</title>
</head>
<body>

    <ul>
        <% @houses.each do |house| %>
            <li><a href=<%="/houses/#{house.id}"%>><%= house.style %></a></li>
        <% end %>
    </ul>
</body>
</html>