<!DOCTYPE html>
<html>
    <head>
        <title>Build a new house</title>
    </head>

    <body>
        <form action="/houses" method="POST">
            <label for="style">Architecture style:</label>
            <input type="text" name="style">
            <label for="color">Color:</label>
            <input type="text" name="color">
            <input type="submit" value="Create new listing">
        </form>
    </body>
</html>