<!DOCTYPE html>
<html>
    <head>
        <title>New homeowner</title>
    </head>
    <body>
        <form action="/owners" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <input type="submit" value="Create new owner">
        </form>
    </body>
</html>