<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Harum and Kolton's Real Estate Site!</h1>
<h2> <a href="/owners">Owners</a></h2>
<h2> <a href="/houses">Houses</a></h2>
<p> 
    <img src="https://cdn.pixabay.com/photo/2015/05/06/16/31/andromeda-galaxy-755442_1280.jpg" alt="This is a picture of space"> 


</P>

</body>
</html>